apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: demo-app:local # swap to your registry as needed
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "64Mi"
            requests:
              memory: "32Mi"
          env:
            - name: PORT
              value: "8080"
            - name: STARTUP_DELAY_SECONDS
              value: "1"
            - name: MEMORY_HOG_MB
              value: "200"
            # - name: FORCE_NOT_READY
            #   value: "1"
            # - name: VAR_X
            #   valueFrom:
            #     secretKeyRef:
            #       name: demo-missing-secret
            #       key: VAR_X
            # - name: FAIL_MODE
            #   value: "crash"
            # - name: REQUIRE_ENV
            #   value: "1"
            # - name: REQUIRE_CONFIG
            #   value: "1"
            # - name: CONFIG_PATH
            #   value: "/config/config.json"
          # envFrom:
          #   - configMapRef:
          #       name: demo-missing-configmap
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 1
            periodSeconds: 3
            timeoutSeconds: 1
            failureThreshold: 2
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: demo-app
spec:
  selector:
    app: demo-app
  ports:
    - port: 80
      targetPort: 8080
